@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');

body{
    background-color: #041562;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    color: white;
    font-size: 32px;
    font-family: 'Fredoka', sans-serif;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

#seleccionar_mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

input:checked + label {
    background-color: #5d8bf4;
}

#boton_mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background: transparent;
    border: 1px solid white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.tarjetas, .tarjetas_ataques {
    display: flex;
    gap: 10px;
}

.tarjeta_de_mokepon {
    width: 180px;
    height: 100px;
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta_de_mokepon img {
    width: 80px;
}

#seleccionar_ataque {
    flex-direction: column;
    align-items: center;
}

.boton_de_ataque {
    background-color: #11468f;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    font-family: 'Poppins', sans-serif;
}

#mensajes {
    width: 280px;
    background: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton_reiniciar {
    border-color: transparent;
    color: #11468f;
    font-family: 'Poppins', sans-serif;
    background: none;
}

.ataques {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    color: white;
    gap: 10px;
}

#ver_mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#ver_mapa button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background: transparent;
    border: 1px solid white;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

@media (max-width: 560px)  {
    .tarjetas, .tarjetas_ataques{
        flex-direction: column;
    }
}

@media (max-width: 300px)  {
    #ver_mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}