
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
    background-color: #041562;
}
.titulo {
    color: white;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

#seleccionar_mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    display: none;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta_de_mokepon {
    width: 180px;
    height: 100px;
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta_de_mokepon img {
    width: 80px;
}